.card__pokemon {
    width: 250px;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;

    border-radius: 15px;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.11);

    transition: all .3s ease;

    overflow: hidden;
}


.card__pokemon > figcaption {
    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 100%;
}

.card__pokemon > figcaption > img {
    width: 100px;
    height: auto;
    filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.7));
}

.card__pokemon > section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card__pokemon > section > h1 {
    color: white;

    font-weight: 300;
    font-size: 1.1em;
    
}

.card__pokemon > section > h1::first-letter {
    text-transform: uppercase;
}

.card__pokemon > section > p {
    color: rgb(56, 56, 56);

    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8em;
}


/* Types bg colors */

.grass {
    background-color: #95CEA5;
}

.fire {
    background-color: #FFA6A6;
}

.water {
    background-color: #A6D4FF;
}

.normal {
    background-color: #A1AEBB;
}

.bug {
    background-color: #C8FFA6;
}

.poison {
    background-color: #C2A6FF;
}

.electric {
    background-color: #FDFFA6;
}

.ground {
    background-color: #CEC595;
}

.fairy {
    background-color: #FFA6F1;
}

.fighting {
    background-color: #FF8C8C;
}

.psychic {
    background-color: #E2A6FF;
}

.rock {
    background-color: #CEAA95;
}

.ghost {
    background-color: #B18CFF;
}

.ice {
    background-color: #A6EFFF;
}

.dragon {
    background: linear-gradient(180deg, #A6D4FF 0%, #FF8C8C 100%);
}

/* Font Colors */

.electric > section > h1,
.bug > section > h1,
.electric > section > h1,
.electric > section > h1 {
    color: #212121 !important;
}


/* Hovers e Animations */

.card__pokemon:hover {
    transform: scale(1.03);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
}