.container {
    height: 93vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;

    color: #3d3d3d;
}

.container > a > img {
    width: 100%;
    height: auto;
}

.container > hr {
    height: 125px;
    width: 1px;
    background-color: #3d3d3d77;
    border: none;
}

.container > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > article > h1 {
    font-weight: 300;
    font-size: 3em;
}

.container > article > p {
    margin-top: -0.8em;
    font-size: 1.1em;
    font-weight: 300;
}

@media (max-width: 600px) {
    
    .container > hr {
        display: none;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5em;

    }
}