.container {
    width: 100%;
    height: 100%;

    padding: 2em;
}

.pokemon__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    color: #3D3D3D;

    margin-bottom: 1em;
}

.pokemon__info > p:first-child {
    color: #3d3d3d7c;
}

.pokemon__info > h1 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2em;
}

.pokemon__info > figure {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon__info > figure > img {
    width: 65%;
    height: auto;
}

/* TIPOS */

.pokemon__info > .pokemon__info__tipos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.pokemon__info > .pokemon__info__tipos > li {
    padding: 10px 30px;
    border-radius: 50px;
}

.pokemon__info > .pokemon__info__tipos > li > p{
    text-transform: capitalize;
    font-size: 0.9em;
}

/* Types bg colors */

.grass {
    background-color: #95CEA5;
}

.fire {
    background-color: #FFA6A6;
}

.water {
    background-color: #A6D4FF;
}

.normal {
    background-color: #A1AEBB;
}

.bug {
    background-color: #C8FFA6;
}

.poison {
    background-color: #C2A6FF;
}

.electric {
    background-color: #FDFFA6;
}

.ground {
    background-color: #CEC595;
}

.fairy {
    background-color: #FFA6F1;
}

.fighting {
    background-color: #FF8C8C;
}

.psychic {
    background-color: #E2A6FF;
}

.rock {
    background-color: #CEAA95;
}

.ghost {
    background-color: #B18CFF;
}

.ice {
    background-color: #A6EFFF;
}

.dragon {
    background: linear-gradient(180deg, #A6D4FF 0%, #FF8C8C 100%);
}

.flying  {
    background: linear-gradient(180deg, #A1AEBB 0%, #95CEA5 100%);
}

.steel {
    background: radial-gradient(50% 50% at 50% 50%, #C1C1C1 31.25%, #989898 100%);
}

.dark {
    background-color: #B79563;
}


/* STATUS  */

.pokemon__status {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

.pokemon__status > h1 {
    font-weight: 300;
    color: #3d3d3d80;
    margin-bottom: 0.5em;
}

.status__bar {
    width: 100%;
    background-color: rgb(231, 233, 232);
    border-radius: 5px;

    overflow: hidden;
}

.status__bar > .status__bar__fill {
    color: #3d3d3d79;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;

    padding: 0.2em 0.5em;
    text-transform: capitalize;
}

.hp {
    background-color: #C8FFA6;
}

.attack {
    background-color: #FF8C8C;
}

.defense {
    background-color: #A1AEBB;
}

.special-attack {
    background-color: #A6D4FF;
}

.special-defense {
    background-color: #B18CFF;
}

.speed {
    background-color: #FDFFA6;
}