.loading__carregando {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(90deg, #BD83BD 0%, #97D9E1 101.02%);
    backdrop-filter: blur(5px);
}

.loading__carregando > p > svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #3d3d3d;

    animation: flip .3s ease alternate infinite;
}


@keyframes flip {

    0% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(0);
    }
}